<!DOCTYPE html>
<html>
<head>
    <title>Добавить сайт - Checkr</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
  <div class="container">
    <h1>Добавить сайт</h1>
    <form method="POST">
        <div class="form-group">
            <label for="url">URL сайта:</label>
            <input type="url" name="url" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
  </div>
</body>
</html>